# Datasets
*.csv
*.xlsx
!data/results.csv
!data/knockouts.csv
# PyTorch Models
*.pt
*.pth

# Jupyter / Kaggle Notebooks Checkpoints
*.ipynb_checkpoints
*.virtual_documents

# Python Cache
__pycache__

# Virtual Environments
.venv/
.env/

# Workflow Scripts
rebuild_history.py
calculate_rps.py
check_accuracy.py